body {
  text-align: center;
  background: white;
  padding: 1em;
  border-radius: 1em;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to top right, blue, red);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

pre {
  text-align: left;
  background: lightgray;
  border-radius: 1em;
  border: 0.3em solid darkgray;
  padding: 1em;
  margin-bottom: 0;
}
